* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Skranji', cursive;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

.lead {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.column-wrapper {
    display: -webkit-flex;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.row-wrapper {
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* Google Map container */
#map {
    width: 65%;
    margin: 0 10px;
}

.quake-section {
    margin-right: 10px;
    width: calc(35% - 3 * 10px);
}

#quake-details-list {
    list-style: none;
}