* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* Google Map container */
#map {
    height: 75%;
    width: 65%;
    margin-right: 10px;
}

.quake-section {
    width: calc(35% - 10px);
}