* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 15%;
    background-color: rgb(183, 211, 189);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    margin: 0;
    text-align: center;
}

.lead {
    margin: 0;
    text-align: center;
    font-size: 12px;
}


.alert {
    color: rgb(207, 31, 31);
}

.column-wrapper {
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.row-wrapper {
    height: 100%;
    padding: 20px;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

/* Google Map container */
#map {
    width: 65%;
}

.quake-section {
    width: calc(35% - 20px);
    margin: 0 0 0 20px;
}

#quake-details-list {
    margin: 20px 0 10px;
    padding: 10px;
    min-height: 115px;
    border-radius: 5px;
    background-color: rgb(167,205,242);
    text-align: center;
    list-style: none;
}

footer {
    background-color: rgb(183, 211, 189);
    text-align: center;
}