h1 {
    font-size: 30px;
}

#map {
    width: 100%;
    min-height: 350px;
}

.quake-section {
    margin: 30px 0;
    width: 100%;
    min-height: 70px;
}

#quake-details-list {
    min-height: 90px;
}

.quake-details-item {
    font-size: 12px;
}